{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="page-header">Posts on blog</h1>          
    {% for post in pagination%}
        {% if post.published %}
            <a href="/blog/details/{{post.slug}}">
            <div class="panel panel-default">
                <img src="{{ vich_uploader_asset(post, 'imageFile', 'AppBundle\\Entity\\Post') | imagine_filter('my_thumb3') }}" alt="{{ post.title }}" />
                <div class="panel-heading">{{post.title}}<span class="label label-info right">{{post.createDate|date('F j, Y')}}</span></div>
                <div class="panel-body">{{post.content}}</div>
            </div>
            </a>
        {% endif %}
    {% endfor%}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}